:root {
  --main-bg-color: #3d0a91;
}

.app-header {
  background-color: var(--main-bg-color);
  height: 10vh;
  display: flex;
  color: #fff;
}

.current-users {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  border-color: var(--main-bg-color);
  margin: 10px 5px;
  flex-basis: 30%;
}
.card-img-top {
  border-radius: 50%;
  max-width: 85px;
  height: 85px;
}

@media (max-width: 40em) {
  .card {
    flex-basis: 100%;
  }
}
